div,ul{
	margin:0;
	padding:0;
}
ul li{
	list-style: none;
}

.box{
	display: flex;
	border:2px solid #eee;
	border-radius: 5px;
	margin:5px 0;
}
.box-item{
	width:70px;
	height:70px;
	background-color: #eee;
	margin:10px;
	line-height: 70px;
	text-align: center;
}
.container{
}
.container-item{
	margin:10px 0;
}
.container-item > p{
	color:red;
}
/**
 * 1.flex-direction
 */
.box-direction {
	max-width: 650px;
	flex-direction:row;
}
/**
 * 2.flex-wrap
 */
.box-wrap{
	max-width: 460px;
	flex-wrap:nowrap;
}
/**
 * justify-content
 */
.box-content{
	max-width: 760px;
	justify-content:flex-start;
}
/**
 * align-items
 */
.box-items{
	max-width: 760px;
	align-items:flex-start;
	min-height:240px; 
}
/**
 * align-content
 */
.box-align{
	max-width: 760px;
	min-height: 360px;
	flex-wrap:wrap;
	align-content:flex-start;
}
.box-align .box-item{
	height:auto;
}
/**
 * 项目属性 order
 */
.box-order{
	max-width:600px;
}
.box-order .box-item{
	min-width:120px;
}
/**
 * 项目属性 flex-shrink
 */
.box-shrink{
	max-width:600px;
}
.box-shrink .box-item{
	width:120px;
}

.box-other{
	background-color: #eee;
	padding:10px 20px;
	font-size: 18px;
	margin:5px 0
}
/**
 * align-self
 */
.box-self{
	max-width: 760px;
	align-items:flex-start;
	min-height:240px; 
}
/**
 * 选择项
 */
.select ul,ul li{
	display:inline-block;
}
.select-item{
	width:120px;
	height:34px;
	line-height: 34px;
	text-align: center;
	background-color: #eee;
	border:1px solid #fff;
	border-radius: 4px;
	cursor:pointer;
}